.aux
.deps
.cache
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
configure
configure~
depcomp
install-sh
missing
build
*.o
compile_commands.json
rmem
.dirstamp
configure.ac~
*.svg
perf.*
out.*
slurm-*
run/slurm-*
